body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(179, 229, 252);
  user-select: none; /* Standard */
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}
/*
    vh fix
*/

div{
  box-sizing: border-box;
}

#content{
  height: 100vh;
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

@supports (-webkit-touch-callout: none) {
  #content{
    height: -webkit-fill-available;
  }
}

#content_main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content_teams{
  height: 100%;
  width: 100%;
}

#content_panels{
  flex: 9;
  display: flex;
  flex-direction: row;
}

#content_timer{
  flex: 0;
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(94, 104, 103);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, .2);
  margin:4px;
  padding: 4px;
  margin-top: 0px;
}

#timer_fill{
  width: 50%;
  height: 40px;
  background-color: rgb(248, 115, 38);
  border-right: 5px solid rgb(248, 164, 38);
}

#timer_disp{
  height: 40px;
  width: 40px;
  background-color: white;
  text-align: center;
  line-height: 40px;
  border: none;
  border-radius: 30px;
  font-size: 1.6em;
}

#content_footer{
  flex:0;
  padding: 4px;
  padding-top: 0px;
}

#panel_footer{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, .2);
  padding: 4px;
}

.content_goal{
  flex:1;
}

.content_ui{
  flex:1;
}

.teampanel{
  flex:1;
  padding: 4px;
  
}

.content_team_items{
}

.content_team{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(237, 255, 254);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, .2);
}

.content_xp{
  flex: 6;
  display: flex;
}

.xp_fill{
  height: "30%";
  flex: 1;
  align-self: flex-end;
  border-top: 5px solid rgba(0, 0, 0, 0);
}

.spacing_dragon{
  flex: 4;
  width: 100%;
  display: flex;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  align-content: center;
}

.content_dragon{
  flex: 1;
  position: relative;
  align-self: flex-end;
  text-align: center;
  padding-bottom: 7.5%;
  align-content: center;
  justify-items: center;
}

.dragon{
  flex:1;
  max-width: 0%;
  pointer-events:none;
  width: 100%;
  margin:0 auto;
}



.dragon_mood{
  text-align: center;
  height: 60px;
  margin-top: -20px;
  margin-bottom: -40px;
  width: auto;
  z-index: 1;
  pointer-events: none;
}

.dragon_name{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 4px;
  font-size: 1.8em;
  background-color: #E8F5E9;
  text-overflow: ellipsis;
  height: 100%;
}

.content_members{
  height: 100%;
  flex-direction: column;
  background-color: rgb(237, 255, 254);
  padding: 4px;
}

.member{
  height: auto;
  position: relative;
  z-index: 10;
  font-size: 1.4em;
  display: flex;
  width: auto;
  border: 0;
  border-radius: 30px;
  padding: 12px;
  margin: 4px;
}



.team_level{
  position: relative;
  border: 3px solid black;
  font-size: 1.6em;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: -30px;
  margin-top: -30px;
  background-color: white;
  z-index: 1;
}

.icon{
  height: 30px;
}

#qr{
  height: 60px
}


#content_gallery{
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  overflow-y: scroll;
}

.galleryFrame{
  display: inline-block;
  box-sizing: border-box;
  margin: .5%;
  padding: .5%;
  width: 15.66%;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, 1);
}

.galleryArt{
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
}

.galleryName{
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
}

.roundButton{
  align-self: flex-end;
  border: 2px solid black;
  border-radius: 100%;
  background-color: rgb(158, 162, 165);
  height: 35px;
  margin-right: 8px;
}

#yellow_button{
  border-color: rgba(231,196,35,255);
}

#green_button{
  border-color: rgba(123,231,36,255);
}

#red_button{
  border-color: rgba(231,69,37,255);
}

.roundButton:active, .roundButton:hover{
  border-color: rgb(255, 231, 94);
}


#content_end{
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  overflow-y: scroll;
  background-image: url("/images/background_sky.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#popup{
  position: fixed;
  width: fit-content;
  z-index: 10;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(234, 246, 252);
  box-shadow: 4px 4px 1px 0px rgba(0, 0, 0, .2);
  padding: 50px;
  visibility: hidden;
}

#popupImg{
  width: 50%;
}

#popupText{
  font-size: 3em;
}