body{
  font-family: Arial;
  margin: 0px;
}

input {
  -webkit-appearance: none;
}

#pageSelectContainer{
  border-bottom: 2px solid;
}

.pageSelectButton{
  font-size: 1em;
  width: 15%;
  padding: 1%;
  margin: 1% 1% 0% 1%;
  border: none;
  border-radius: 10px 10px 0px 0px;
}
.pageSelectButton:focus{
  background-color: rgb(255, 220, 106);
}

.teamContainer{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 10px 5px;
  padding: 10px;
  background-color: white;
  height: 65vh;
  overflow-y: scroll;
}

#selectTeamContainer{
  display: block;
  background-color: rgb(143, 207, 255);
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.selectStudentButton{
  width: 100%;
  padding: 12px;
  font-size: 1.2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectStudentButton:focus{
  background-color: rgb(255, 220, 106);
}

#cardsContainer, #setTeamContainer{
  width: 100%;
  text-align: center;
}

.card{
  border: none;
  width: 150px;
  height: 200px;
  margin: 4px 20px;
  border-radius: 10px;
}

#selectedUser{
  font-size: 1.5em;
  background-color: white;
  padding: 2px;
}

#teamSelect, #correctSelect{
  font-size: 1em;
  width: 60%;
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
}

.page{
  position: fixed;
  width: 100%;
  height: 100vh;
}

#goalLog{
  display: inline-block;
}

#setGoalContainer{
  background-color: rgb(143, 207, 255);
  text-align: center;
  width: 100%;
}

.goal{
  display: flex;
  background-color: white;
}

#setGoalReward{
  font-size: 2em;
  padding: 20px;
  width: 60px;
}

#setGoalDescription{
  font-size: 2em;
  padding: 20px;
}

#setGoalButton, #setQuestionButton{
  font-size: 2em;
  padding: 20px;
}

.goalReward{
  padding: 10px;
  font-size: 1.2em;
  width: 50px;
  background-color: lightgoldenrodyellow;
}

.goalDescription{
  padding: 10px;
  font-size: 1.2em;
  width: 80%;
}

.goalButton{
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: 2em;
  color: white;
}

.setAnswer{
  padding: 5px;
  font-size: 1.2em;
  width: 100%;
}

#answersDiv{
  margin: 20px 0;
}