body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none; /* Standard */
}

#content{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(179, 229, 252);
}

.panel{
    flex: 60;
    margin: 6px;
    background-color: white;
    padding: 8px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, .2);
}

.icon, item_icon{
    height: 40px;
}

.round_button{
    background-color: rgb(1, 255, 158);
    border: 5px solid black;
    border-radius: 60px;
    margin: 10px;
    padding: 30px;
    cursor: pointer;
    user-select: none;
}

.round_button:hover{
    background-color: rgb(179, 255, 1);
}

.round_button:active{
    background-color: rgb(1, 255, 213);
}

/*
    Left Panel
*/

#panel_left{
}

#content_shop{
    background-color: aquamarine;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1px;
}

.shop_item{
    width: 100%;
    background-color: white;  
}

.item_desc{
    flex: 2;
}

.item_icon{
    flex:1;
}

/*
    Middle Panel
*/
#panel_mid{
    width: 50%;
    position: relative;
    flex: 100;
}

.content_cards{
    height: 10%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    background-color: whitesmoke;
}

#name{
    position: relative;
    font-size: 2.8em;
    height: 10%;
    text-align: center;
    background-color: antiquewhite;
}

.content_card{
    display: flex;
    width: auto;
}

  /*
    Dragon
  */
  .spacing_dragon{
    width: 100%;
    height: 70%;
    display: flex;
    background-image: url("../images/background_grass.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #content_dragon{
    width: 100%;
    position: relative;
    align-self: flex-end;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .dragon{
    max-width: 100%;
    width: 0%;
    pointer-events: none;
  }
  
  .dragon_name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 2em;
    background-color: #E8F5E9;
    overflow: hidden;
  }
/*
    Right Panel
*/

#panel_right{
}

/*
  Level
*/
.team_level{
    z-index: 10;
    position: relative;
    background-color: white;
    text-align: center;
    margin: -33px auto;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border: 3px solid black;
    border-radius: 50px;
    font-size: 2.5em;
    top: 80%;
  }

#content_team{
    text-align: center;
    width: 100%;
    height: 100%;
}

#content_xp{
    width: 100%;
    height: 100%;
    display:flex;
    background-color: #E0F7FA;
}

#xp_fill{
    width: 100%;
    height: 25%;
    background-color: red;
    position: relative;
    align-self: flex-end;
    border-top: 8px solid white;
}

#content_team_items{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}


/*
    Quiz Panel
*/

#content_quiz{
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 75%;
    background-color: white;
}

#question{
    text-align: center;
    font-size: 3em;
    line-height: 2em;
    margin: 2%;
    padding: 1%;
}

.answer{
    background-color: cornflowerblue;
    font-size: 1.4em;
    margin: 2%;
    padding: 5%;
}

/*
    Drawing Panel
*/

/*
    Login Panel
*/

#content_login{
    z-index: -10;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: white;
    font-size: 2em;
    text-align: center;
}

#login_email{
    display: inline-block;
    text-align: right;
    border: 1px;
    width: 200px;
    border: 1px solid;
}

/*
    vh fix
*/
@supports (-webkit-touch-callout: none) {
    #content, #content_quiz, #content_login{
      height: -webkit-fill-available;
    }
  }